body {
    background-color: #0039AA;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-weight: 200;
    font-style: italic;
    margin: 0px;
}

.text {
    color: whitesmoke;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

p{
    padding: 0 20px 0 20px;
    justify-content: center;
    font-size: 12px;
}

.flex-container{
    
    color: whitesmoke;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.items{
    padding: 0px 40px 0px 40px;

}

a {
    color: whitesmoke;
}

img{
    height: 400px;
}